
.analyticss{
  background-image:url("https://i.imgur.com/yLn9h0l.png") ;
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Wrapper{
  text-align: center;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    width: 750px;
    /* height: 1200px; */
  }
  
  
  .name{
    position: relative;
    color :rgb(4, 77, 77) ;
    margin-left: 750px;
 
  }
  .piechart{
    position: relative;
     margin-left: 800px;
     margin-top: 470px;
     width:100%;
     
  }
  .barchart{
    position: relative;

    margin-left: 175px;
    margin-top: -880px;
  }

  .canceled{
    font-size: 30px;
    color : #dec672 ;
    


  }
  .reserved{
    font-size: 30px;
    color :#8f8e8e;
  }
  .pending{
    font-size: 30px;
    color :#8d0a30;

  }
  .tickets{
    font-size: 30px;
    color :#8d0a30;
    position: absolute;
    margin-left: -250px;
  
    margin-top: 40px;

  }
  .list{
    font-size:25px;
    list-style-type:none;
    margin-top: 100px;
  }